<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bmeng.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".TextSender" />
        <activity android:name=".TextSender">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TextDisplay"
            android:parentActivityName=".TextSender" />
        <activity
            android:name=".ZombieLayout"
            android:parentActivityName=".TextSender" />
        <activity
            android:name=".ListDisplay"
            android:parentActivityName=".TextSender" />
        <activity
            android:name=".DetailScreen"
            android:parentActivityName=".ListDisplay" />
        <activity
            android:name=".About"
            android:parentActivityName=".TextSender" />
        <activity android:name=".TrafficCamLocationsActivity"
                  android:parentActivityName=".TextSender">
        </activity>
        <activity android:name=".LocationIdentifierActivity"
                  android:parentActivityName=".TextSender">
        </activity>
        <meta-data
            android:name = "com.google.android.geo.API_KEY"
            android:value = "AIzaSyB-v9Qoqn7iENerFTK8rxnTaLaIFXjc7pI"
        />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>